body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background:black;
  color: white;
}

.container {
  text-align: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 0 10px;
}

h1 {
  margin-bottom: 20px;
}

#scrambled-word {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 20px 0;
  color:greenyellow;
}

input {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: bold;
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 1rem;
  color: white;
  background: #2575fc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #1e5acb;
}

#feedback {
  margin-top: 10px;
  font-size: 1.2rem;
}
